<div class="jumbotron">
  <h1 class="title">梦空间</h1>
  <p class="slogan">投入你一生引以为傲的工作,<br>让你的成就令世人瞩目。
  </p>
  <p class="lead"><a href="/jobs" class="btn btn-lg btn-danger">马上应征</a></p>
</div>
<section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://www.apple.com/jobs/images/content/section-nav-block/block-3/corporate/default.jpg" alt="search" class = "img-thumbnail">
          <div class="caption">
            <h3>深圳南山</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://www.apple.com/jobs/images/content/section-nav-block/block-3/cn/retail/default.jpg" alt="bid" class = "img-thumbnail">
          <div class="caption">
            <h3>info@18koffer.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://www.apple.com/jobs/images/content/section-nav-block/block-3/aha/default.jpg" alt="heart" class = "img-thumbnail">
          <div class="caption">
            <h3>010-12344321</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
